# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
/media
/staticfiles

# Virtual environment (common names)
venv/
ENV/
.venv/
env/
vehicle_mgmt_env/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/
